body {
  margin: 20px;
  padding: 0;
  background: #FC354C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0ABFBC, #FC354C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0ABFBC, #FC354C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  max-width: 760px;
  margin: auto;
  border: #fff solid 3px;
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main-img img,
.imgs img {
  width: 100%;
}

.imgs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

/* Fade in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}

/*h1 { color: #ff4411; font-size: 28px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }: 'Raleway',sans-serif; font-size: 62px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }
*/

.neon {
  font-family: 'Permanent Marker', cursive;
    font-style: oblique;
    color: #f9f9f9;
    text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF,
             0 0 20px #A5F1FF, 0 0 30px #A5F1FF,
             0 0 40px #A5F1FF;
        text-align: center;
        letter-spacing: 1px;
}

h3{
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-weight: bold;
  font-style: oblique;
  text-shadow: 2px 2px #6f6f6f;
  color: #f9f9f9;
}